<!DOCTYPE HTML>
<html lang="es">
<body>

<div style="text-align: center;">
    <h1> BajaGym </h1>
</div>

<div style="text-align: center; margin-bottom: 4em; margin-top: 5em;">
    <div>
        Se ha avisado a los entrenadores del cambio de rutina.
        <div>
            <form style="text-align: center; margin-bottom: 4em; margin-top: 5em;" action="/usuarios/loging">
                <button class="button main_button"> Volver a inicio </button>

            </form>
        </div>
    </div>
</div>
</body>
</html>