<!DOCTYPE HTML>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>

<div style="text-align: center;">
    <h1> BajaGym </h1>
</div>

<div style="text-align: center; margin-bottom: 3em; margin-top: 5em;">
    <h2>
        {{#user}}  {{name}} este es nuestro horario de clases colectivas:{{/user}}
        {{^user}} Aqui puede ver nuestro horario de clases colectivas: {{/user}}
    </h2>
    <p>horario:</p>
    <div class="flex-container" style="display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;">
    <div class="colectiva">
        {{#colectiva}}
        <li>{{.}}
    <p></p>
        </li>
        {{/colectiva}}
    </div>
    <div class="lista">{{#lista}}
        <p> <form style=display:inline-block; action="{{idClasesColectivas}}/delete/">
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <input type='submit' value='Borrar'></input>
        </form>
        </p>
        {{/lista}}
    </div>
    </div>
</div>
<div>
    {{#user}}
    <form style="text-align: center; margin-bottom: 2em; margin-top: 3em;" action="/">
        <button class="button main_button"> Volver a inicio </button>

    </form>
    {{/user}}

    {{^user}}
    <form style="text-align: center; margin-bottom: 2em; margin-top: 3em;"action="/">
        <button class="button user_button">
            Volver
        </button>
    </form>
    {{/user}}
</div>
</body>
</html>