<!DOCTYPE HTML>
<html lang="es">
<body>

<div style="text-align: center;">
    <h1> BajaGym </h1>
</div>

<div style="text-align: center; margin-bottom: 4em; margin-top: 5em;">
    <h2>
        {{#user}}  {{UserName}} este es nuestro horario de clases colectivas:{{/user}}
        {{^user}} Aqui puede ver nuestro horario de clases colectivas: {{/user}}
    </h2>
    <p>horario:</p>
    <p>
        {{#colectiva}}
        <li>{{.}}</li>
        {{/colectiva}}
    </p>

</div>

<div>
    {{#user}}
    <form style="text-align: center; margin-bottom: 4em; margin-top: 5em;"action="/usuarios/loging?userName={{UserName}}">
        <button class="button user_button">
            Volver
        </button>
    </form>
    {{/user}}

    {{^user}}
    <form style="text-align: center; margin-bottom: 4em; margin-top: 5em;"action="/">
        <button class="button user_button">
            Volver
        </button>
    </form>
    {{/user}}
</div>
</body>
</html>