<!DOCTYPE HTML>
<html lang="es">
<body>
<div style="text-align: center;">
    <h1> BajaGym </h1>
</div>

<div style="text-align: center; margin-bottom: 4em; margin-top: 5em;">
    <h2>
        Aqui puede crear clases colectivas nuevas entrenador {{name}}
    </h2>
</div>

<div style="text-align: center;" >

    <h2>
        Ingrese los datos pedidos:
    </h2>

    <form action="newClaseColectiva">
        <p>Nombre:</p>
        <input type='text' name='userName' required/>
        <p>Fecha:</p>
        <input type='date' name='date' required/>
        <p>Rutina:</p>
        <select name='id_rutina' id="id_rutina">
            {{#rutinas}}
            <option value="{{idRutina}}">{{nombre}}</option>
            {{/rutinas}}
        </select>
        <p><input style="margin-top: 2em;" type='submit' value='Crear nueva clase colectiva'/></p>

    </form>

</div>

<div>
    <form style="text-align: center; margin-bottom: 4em; margin-top: 3em;" action="/">
        <button class="button main_button"> Volver a inicio </button>

    </form>

</div>
</body>
</html>