<!DOCTYPE HTML>
<html lang="es">
<body>

<div style="text-align: center;">
    <h1> BajaGym </h1>
</div>

<div style="text-align: center; margin-bottom: 4em; margin-top: 5em;">
    <div>
        Ha habido un error inesperado y no se ha podido completar la operacion, pruebe en otro momento

        <div>
            <form style="text-align: center; margin-bottom: 4em; margin-top: 5em;" action="/">
                <button class="button main_button"> Volver a inicio </button>

            </form>
        </div>
    </div>
</div>
</body>
</html>