<!DOCTYPE HTML>
<html lang="es">
<body>
<div style="text-align: center;">
    <h1> BajaGym </h1>
</div>

<div style="text-align: center; margin-bottom: 4em; margin-top: 5em;">
    <h2>
        Bienvenido a BajaGym tu gimnasio de confianza!
    </h2>
    <p style="margin-top: 2.5em;"> Puede ver nuestras rutinas de ejemplo o nuestras clases colectivas </p>
</div>

<div style="text-align: center;" >
    <form style=display:inline-block; action="usuarios/login">
        <button class="button main_button"> Login </button>

    </form>
    <form style=display:inline-block; action="usuarios/registro">
        <button class="button user_button">
            Registro
        </button>
    </form>
    <form style=display:inline-block; action="rutinas/ejemplos">
        <button class="button user_button">
            Rutinas Ejemplo
        </button>
    </form>
    <form style=display:inline-block; action="ClasesColectivas/">
        <button class="button user_button">
            Clases colectivas
        </button>
    </form>
</div>
</body>
</html>