<!DOCTYPE HTML>
<html lang="es">
<body>

<div style="text-align: center;">
    <h1> BajaGym </h1>
</div>

<div style="text-align: center; margin-bottom: 4em; margin-top: 5em;">
    <h2>
        Introduce tu usuario aqui:
    </h2>

    <form method="post">
        <p>Nombre de usuario:</p>
        <input type='text' name="userName" required  placeholder="Nombre de usuario"/>
        <p>Constrasenia:</p>
        <input type='password' name="contrasenia" required placeholder="Contraseña"/>
        <p><input type='submit' value='Logearse'/></p>
    </form>
</div>
<div>
    <form style="text-align: center; margin-bottom: 4em;"action="/">
        <button class="button user_button">
            Volver
        </button>
    </form>
</div>
</body>
</html>