<!DOCTYPE HTML>
<html lang="es">
<body>

<div style="text-align: center;">
    <h1> BajaGym </h1>
</div>

<div style="text-align: center; margin-bottom: 4em; margin-top: 5em;">
    <h2>
       {{name}} aqui estan tus rutinas personales:
    </h2>

    <p>Rutinas:</p>
<div class="flex-container">
    <p>
        <div class="rutina">
        {{#rutina}}
    <li>{{.}}  <form style=display:inline-block; action="{{name}}/deleteRutina">
        <input type='submit' value='Borrar'></input>
    </form>
    </li>
        {{/rutina}}
        {{^rutina}}
    <h2>
        No hay rutinas personales asociadas
    </h2>
        {{/rutina}}
</div>
    </p>
</div>
    <form style="text-align: center; margin-bottom: 4em; margin-top: 5em;" action="/usuarios/loging">
        <button class="button main_button"> Volver a inicio </button>

    </form>
</div>
</body>
</html>