<!DOCTYPE HTML>
<html lang="es">
<body>
<div style="text-align: center;">
    <h1> BajaGym </h1>
</div>

<div style="text-align: center; margin-bottom: 4em; margin-top: 5em;">
    <h2>
        Bienvenido {{name}} a BajaGym tu gimnasio de confianza!
    </h2>
    <p style="margin-top: 2.5em;"> Puede ver sus rutinas y nuestras clases colectivas </p>
</div>

<div style="text-align: center;" >

    <form style=display:inline-block; action="rutinas/{{name}}">
        <button class="button user_button">
            Rutinas personales
        </button>
    </form>
    <form style=display:inline-block; action="ClasesColectivas/{{name}}">
        <button class="button user_button">
            Clases colectivas
        </button>
    </form>
    <form style=display:inline-block; action="crearClaseColectiva/{{name}}">
        <button class="button user_button">
            Crear clases colectivas
        </button>
    </form>
    <form style=display:inline-block; action="crearRutina/{{name}}">
        <button class="button user_button">
            Crear rutinas
        </button>
    </form>
            <form style=display:inline-block; action="cambiarRutina/{{name}}">
    <button class="button user_button">
        Cambiar rutina
    </button>

    </form>
</div>

<div>
    <form style="text-align: center; margin-bottom: 4em; margin-top: 5em;" action="/">
        <button class="button main_button"> Desconectar </button>

    </form>

</div>
</body>
</html>